
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/Pokemon1/Imagen" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button>button</button>
</form>
